# Introduction to Data types

### Basic numbers and arithmatic

Python has two number types:
* Interger
* Float

for example 1 is an interger and 1.0 is a float

In [10]:
1

1

In [11]:
1.0

1.0

### Arithmatic

### Addition
#### For addition we use a + sign for example 1+1

In [14]:
1+1

2

### Multiplication
#### For multiplication we use a * sign for example 1*5

In [16]:
1 * 5

5

### Division
#### For Division we use a / sign for example 1/2

In [18]:
1 / 2

0.5

### Exponants
#### For exponants we use two ** signs for example 2**4

In [21]:
2**4

16

Always use brackets to order the operations for example write 2 + 5 * 1 + 4 as  (2+5)*(1+4)

In [22]:
2 + 5 * 1 + 4

11

In [23]:
(2 + 5) * (1 + 4)

35

### Modulus
#### For the modulus we use the % sign for example 4 % 2 it returns what remains after a division.

In [25]:
6 % 2

0

In [26]:
10 % 3

1

This is a great way to check if a number is even. If the reminder is zero then the number is even

### Variable Assignment
#### We use the assignment operator " = " to assign varibles
For example matt = 2

In [27]:
matt = 2

In [28]:
matt

2

We can assign variables and use thier names to do arithmatic operations. An example is x = 10 and y = 2 . We can do arithmatic operations as x + y

In [32]:
x = 10
y = 2

In [33]:
x + y

12

One can also reassign a varible. For example y = y+y

In [34]:
y = y + y

In [35]:
y

4

Variable rules
* Don't start with numbers
* dont start with special characters
* Start lower case numbers
* Use underscore to chain together multiple words

### Strings
#### For strings we can either use double quotes "" or single quotes''

In [38]:
"My name is Matt"

'My name is Matt'

In [39]:
'Nata is my surname'

'Nata is my surname'

For scentences with an apostrophe (') we can wrap the scentence in double quotes.
Example

In [40]:
"My name is Matt and I don't like disrespectfulness"

"My name is Matt and I don't like disrespectfulness"

And if you need to use the double quotes in a scentence you can wrap it in sngle quotes as well.

### Printing Strings

In [41]:
m = 'Hello World'

In [42]:
m

'Hello World'

In [44]:
print(m)

Hello World

As seen in the example above Using the print(m) removes the out and single quotes.

### Formationg the print statements

In [47]:
name = "Jane"
age = 18

In [49]:
print("My name is {} and I am {} years old".format(name,age))

My name is Jane and I am 18 years old

Python will read the curly brackets and the "format" then insert what ever is in the brackets in the same order you put it in

In [50]:
print("My name is {one} and I am {two} years old".format(one = name,two = age))

My name is Jane and I am 18 years old

This is another way of using print formatting, this good because you dont have to worry about the formatting being in the same order and you can put in your variables more then once.

### Indexing Strings

indexing starts at zero and we use the [] for example if we have a variable d = cake to get just the first letter we type/print(d[0])

In [56]:
d = 'cake'

In [58]:
d[3]

'e'

we can also use slice syntax which helps us get more then one character from a string. For this we use [:] for example if we have a varible n = nakatana if we only want the first 3 characters we use n[:3] to grab all characters we use n[0:].To get specific characters we use

In [60]:
n = "nakatana"

In [61]:
n[:3]

'nak'

In [62]:
n[0:]

'nakatana'

In [63]:
n[4:7]

'tan'

In [64]:
n[2:5]

'kat'

### Lists
#### These are sequences of elements in a set of square brackets separated by commas.
example [1,2,3] or [a,b,c] meaning it can take in any type of data type

In [65]:
[1,2,3]

[1, 2, 3]

In [67]:
["a","b","c"]

['a', 'b', 'c']

In [68]:
l_list = ["a","b","c"]

## Adding an element to your list use the append methond.
for example for the list above to add the element d to it all we need to do is run the l_list.append("d") then when we print the list the element will be added.

In [70]:
l_list.append("d")

In [71]:
l_list

['a', 'b', 'c', 'd']

## To select elements in a list we use the same method we used with strings
for example l_list[0] will grab the first element.
And l_list[0:] will grab all elements
while l_list[1:3] will grab the band c in the list.

In [73]:
l_list[0]

'a'

In [74]:
l_list[0:]

['a', 'b', 'c', 'd']

In [75]:
l_list[1:3]

['b', 'c']

*List elements can also be changed by indexing the element we wish to change. 
for example l_list[0]= matt this will change the first elemet from "a" to "matt"

In [81]:
l_list[0]= "Matt"

In [82]:
l_list

['Matt', 'b', 'c', 'd']

## Nesting lists inside each other

In [84]:
nest = [1,2,[3,4]]

In [85]:
nest

[1, 2, [3, 4]]

In [86]:
nest[2]

[3, 4]

In [87]:
nest[2][1]

4

In [89]:
nest = [1,2,3,[4,5,["Matt"]]]

In [92]:
nest[3][2][0]

'Matt'

In [93]:
print(nest[3][2][0])

Matt


## What I learned

* basic arithmetic
* basic variable assignment
* Strings 
* print formatting
* Grabing things from an index
* Slice notation
* Lists