In [2]:
def times2(var):
    return var*2

In [3]:
times2(5)

10

# Looking at the map() function

In [4]:
seq =[1,2,3,4,5]

In [5]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

### The map function can be used to apply the function to each number in the sequence

In [7]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [ ]:
t= lambda var:

In [9]:
list(map(lambda num:num*3,seq )) # this is another way to write the function above

[3, 6, 9, 12, 15]

## Filter

In [15]:
list(filter(lambda num:num%2 ==0,seq))

[2, 4]

## Methods 
These are calls you can make of an object that will affect the object

In [16]:
m = "My name is Matt"

In [17]:
m.lower() # lower makes everything lower case.

'my name is matt'

In [19]:
m.upper() #upper makes everything upper case.

'MY NAME IS MATT'

In [20]:
m.split()

['My', 'name', 'is', 'Matt']

In [21]:
tweet = "Go brave warriors! #Sports #NFA"

In [22]:
tweet.split()

['Go', 'brave', 'warriors!', '#Sports', '#NFA']

In [29]:
tweet.split("#")[1]

'Sports '

In [30]:
d={"k1":1,"k2":2}

In [32]:
d.keys()

dict_keys(['k1', 'k2'])

In [34]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [35]:
d.values()

dict_values([1, 2])

In [37]:
list =[1,2,3]

In [38]:
list.pop()

3

In [39]:
list

[1, 2]

In [40]:
"x" in [1,2,3]

False

In [42]:
"x" in ["x","y","z"]

True

In [47]:
x = [(1,2),(3,4),(5,6)]

In [45]:
x[0][1]

2

In [50]:
# tuple unpacking
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [52]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6